.nav_bar {
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	background-color: #35343B;
	width: 100%;
	margin-left: 0px;
	padding-right: 16px;
	z-index: 1;
}
.nav_bar ul {
	font-family: roboto;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav_bar ul a{
	display: inline-block;
	text-decoration: none;
	background-color: #35343B;
	color: white;
	width: 100px;
	height: 25px;
	text-align: center;
	padding: 8px; 
	
}

.nav_bar ul a:hover {
	color: #1597D8 !important;
}

.nav_bar ul a.onpage {
	color: #1597D8;
}

.nav_bar ul li {
	display: inline;
}

.nav_bar ul li ul {
	position: absolute;
	display: none;
}

.nav_bar ul li ul li {
	display: block;
}

.nav_bar ul li:hover ul {
	display: block;
}


.button_container {
	position: absolute;
	right: 55px;
	top: 6px;
}

