.nav_bar {
	position: fixed;
	font-family: roboto;
	font-weight: 300;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	background-color: #35343B;
	width: 100%;
	margin-left: 0px;
	z-index: 1;
}
.nav_bar ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav_bar ul a{
	display: inline-block;
	text-decoration: none;
	background-color: #35343B;
	color: white;
	width: 100px;
	height: 25px;
	text-align: center;
	padding: 8px; 
	
}

.nav_bar ul a:hover {
	color: #1597D8 !important;
}

.nav_bar ul a.onpage {
	color: #1597D8;
}

.nav_bar ul li {
	display: inline;
}

.nav_bar ul li ul {
	position: absolute;
	display: none;
}

.nav_bar ul li ul li {
	display: block;
}

.nav_bar ul li:hover ul {
	display: block;
}


.live_container {
	position: absolute;
	display: none;
	right: 4px;
	top: 6px;
	width: 160px;
	color: red;
}

.live_circle {
	position: absolute;
	background-color: red;
	left: 0px;
	top: 6px;
	height: 16px;
	width: 16px;
	border-radius: 8px;
}

.live_content {
	position: absolute;
	left: 26px;
	top: 4px;
	color: red
}

